<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/style.css">
    <title>Codebar 2.0</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<body>
    <%- include('navbar') %>
    <% if (login) { %>   
        <%if(usere){%>
    <div class="actualizar">
        <div class="generador">
            <h3>Registrar Usuario</h3>
        </div>
        <div class="container form-des">
            <form action="/update" method="POST">
                <div class="row align-items-start">
                    <input type="text" id="id" name="id"  hidden value="<%=usere.id%>">
                    <div class="col">
                        <label for="user">User</label>
                        <input type="text" name="user" value="<%=usere.user%>" required tabindex="1" autofocus>
                    </div>
                    <div class="col">
                        <label for="user">Full Name</label>
                        <input type="text" name="name" value="<%=usere.name%>" required tabindex="2">
                    </div>
                    <div class="col">
                        <label for="rol">Rol</label>                          
                        <select id="rol" name="rol" class="select-css" tabindex="3">
                            <option <%= usere.rol == 'admin' ? "selected" : '' %> value="admin">Admin</option>
                            <option <%= usere.rol == 'user' ? "selected" : '' %> value="user">user</option>                    
                        </select>
                    </div>
                    <div class="col">
                        <label for="pass">Password</label><br> 
			            <input type="password" name="pass" required tabindex="4">
                    </div>
                    <div class="col">
                        <input type="submit" class="btn-search" value="actualizar">
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <%}%>
    <%} %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>